<div class="container-fluid">
    <form (ngSubmit)="submit(f)" #f="ngForm" class="login100-form validate-form">
        <div class="form-group">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            artículos
                        </mat-panel-title>
                        <mat-panel-description>
                            Llene los campos para artículos
                            <i class="fa fa-dollar ml-1"></i>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!--body-->
                    <div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="row margen">

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Código" name="code"
                                                       [(ngModel)]="newItem.code">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-checkbox class="example-margin w-75" name="billable"
                                                          [(ngModel)]="newItem.billable">Facturable
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margen">
                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Descripción" name="description"
                                                       [(ngModel)]="newItem.description">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Imagen" name="image"
                                                       [(ngModel)]="newItem.image">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margen">
                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Linea" name="line"
                                                       [(ngModel)]="newItem.line">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Precio de compras" name="purchaseAmount"
                                                       [(ngModel)]="newItem.purchaseAmount">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margen">
                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Precio de venta" name="saleAmount"
                                                       [(ngModel)]="newItem.saleAmount">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Marca" name="trademark"
                                                       [(ngModel)]="newItem.trademark">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margen">
                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Unidad de venta" name="unitMeasurePurchase"
                                                       [(ngModel)]="newItem.unitMeasurePurchase">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input matInput placeholder="Unidad de medida de venta"
                                                       name="unitMeasureSale" [(ngModel)]="newItem.unitMeasureSale">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col">
                            <button mat-button class="bg-secondary text-white btn-block" type="button"
                                    (click)="f.reset()">
                                Limpiar Formulario
                            </button>
                        </div>
                        <div class="col">
                            <button mat-button type="submit" [disabled]="!f.valid"
                                    class="bg-primary text-white btn-block">
                                Guardar
                            </button>
                        </div>
                    </div>


                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
    <app-data-table [(stateButton)]="panelOpenState"></app-data-table>
    <br>
    <br>
</div>

