<div class="bg-dark-blue border-right" id="sidebar-wrapper">
    <div class="text-center background-content-img">
        <a [routerLink]="['index']">
            <img src="./assets/img/DIF-blanco.png" style="">
        </a>
    </div>
    <div class="list-group list-group-flush">
        <div *ngFor="let modulo of modulos">
            <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
               [routerLink]="[modulo.route]">
                <i class="{{modulo.icon}} margin-icon"></i> {{modulo.name}}
            </a>
        </div>
    </div>
</div>
