<div class="bg-dark-blue border-right" id="sidebar-wrapper">
    <div class="text-center background-content-img">
        <img src="./assets/img/DIF-blanco.png" style="">
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
           [routerLink]="['item']">
            <i class="fa fa-money margin-icon"></i> Artículos
        </a>
        <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="disable"
           [routerLink]="['clients']">
            <i class="fa fa-users margin-icon"></i> Clientes
        </a>

        <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="disable"
           [routerLink]="['warehouse']">
            <i class="fa fa-home margin-icon"></i> Bodegas
        </a>

        <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="disable"
           [routerLink]="['user']">
            <i class="fa fa-user-circle margin-icon"></i> Usuarios
        </a>
        <a class="list-group-item list-group-item-action bg-dark-blue font-side"
           [routerLink]="['entry']">
            <i class="fa fa-arrow-circle-o-left margin-icon"></i> Entradas
        </a>
        <a class="list-group-item list-group-item-action bg-dark-blue font-side"
           [routerLink]="['departure']">
            <i class="fa fa-arrow-circle-o-right margin-icon"></i> Salidas
        </a>
    </div>
</div>
