<div class="container-fluid">
    <form (ngSubmit)="submit()" [formGroup]="form" class="login100-form validate-form">
        <div class="form-group">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Inventario
                        </mat-panel-title>
                        <mat-panel-description>
                            Llene los campos para inventario
                            <i class="fa fa-dollar ml-1"></i>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!--body-->
                    <div>
                        <div class="row justify-content-center">

                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Bodega</mat-label>
                                    <mat-select formControlName="idWarehouse">
                                        <mat-option *ngFor="let type of warehouse" [value]="type.value">
                                            {{type.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{getAttrMessage('idWarehouse')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Artículo</mat-label>
                                    <mat-select formControlName="idItem">
                                        <mat-option *ngFor="let type of item" [value]="type.value">
                                            {{type.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{getAttrMessage('idItem')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <input matInput type="number"  formControlName="quantity">
                                    <mat-label> Cantidad</mat-label>
                                    <mat-error>{{getAttrMessage('quantity')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <button mat-button class="bg-secondary text-white btn-block" type="button"
                                    (click)="form.reset()">
                                Limpiar Formulario
                            </button>
                        </div>
                        <div class="col">
                            <button mat-button type="submit" [disabled]="!form.valid"
                                    class="bg-primary text-white btn-block">
                                Guardar
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
    <app-inventory-data-table [(stateButton)]="panelOpenState"></app-inventory-data-table>

    <br>
    <br>
</div>

