<h1 mat-dialog-title class="tittle">{{dataSource.title}}</h1>
<div mat-dialog-content class="top">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Código de Artículo </th>
            <td mat-cell *matCellDef="let element"> {{element.item.code}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad de {{dataSource.type}} </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="warehouse">
            <th mat-header-cell *matHeaderCellDef> Bodega </th>
            <td mat-cell *matCellDef="let element"> {{element.item.inventories[0].warehouse.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <br>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn-success float-right" (click)="onNoClick()">Ok</button>
</div>
