<div class="container-fluid">
    <form (ngSubmit)="submit()" [formGroup]="form" class="login100-form validate-form">
        <div class="form-group">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Usuarios
                        </mat-panel-title>
                        <mat-panel-description>
                            Llene los campos para usuarios
                            <i class="fa fa-dollar ml-1"></i>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!--body-->
                    <div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="row margen">
                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input type="text" matInput formControlName="email">
                                                <mat-label>Usuario</mat-label>
                                                <mat-error> {{getAttrMessage('email')}} </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input type="text" matInput formControlName="password">
                                                <mat-label>Contraseña</mat-label>
                                                <mat-error> {{getAttrMessage('password')}} </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margen">
                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <input type="text" matInput formControlName="confirmPassword">
                                                <mat-label>Confirmar Contraseña</mat-label>
                                                <mat-error> {{getAttrMessage('confirmPassword')}} </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col pr-0 pl-0">
                                        <div class="row justify-content-center">
                                            <mat-form-field class="w-75" appearance="outline">
                                                <mat-label>Tipo de usuario</mat-label>
                                                <mat-select formControlName="typeUser">
                                                    <mat-option *ngFor="let type of typeUser" [value]="type.value">
                                                        {{type.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>{{getAttrMessage('typeUser')}}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <button mat-button class="bg-secondary text-white btn-block" type="button"
                                    (click)="form.reset()">
                                Limpiar Formulario
                            </button>
                        </div>
                        <div class="col">
                            <button mat-button type="submit" [disabled]="!form.valid"
                                    class="bg-primary text-white btn-block">
                                Guardar
                            </button>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
    <app-user-data-table [(stateButton)]="panelOpenState" (stateButtonChange)="setStatusOpenState( $event )" (editUserEmitter)="editUser($event)"></app-user-data-table>
    <br>
    <br>
</div>

