<div class="container-fluid">
    <form (ngSubmit)="submit()" [formGroup]="form" class="login100-form validate-form">
        <div class="form-group">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Bodegas
                        </mat-panel-title>
                        <mat-panel-description>
                            Llene los campos para Bodegas
                            <i class="fa fa-dollar ml-1"></i>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!--body-->
                    <div>
                        <div class="row justify-content-center">

                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <input matInput formControlName="accountingAccount" type="number">
                                    <mat-label>Cuenta facturable</mat-label>
                                    <mat-error>{{getAttrMessage('accountingAccount')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <input matInput  formControlName="name">
                                    <mat-label> Nombre</mat-label>
                                    <mat-error>{{getAttrMessage('name')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <input matInput  formControlName="address">
                                    <mat-label> Dirección</mat-label>
                                    <mat-error>{{getAttrMessage('address')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <textarea matInput formControlName="reason" ></textarea>
                                    <mat-label>Descripción</mat-label>
                                    <mat-error>{{getAttrMessage('reason')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <button mat-button class="bg-secondary text-white btn-block" type="button"
                                    (click)="form.reset()">
                                Limpiar Formulario
                            </button>
                        </div>
                        <div class="col">
                            <button mat-button type="submit" [disabled]="!form.valid"
                                    class="bg-primary text-white btn-block">
                                Guardar
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
    <app-warehouse-data-table [(stateButton)]="panelOpenState"  (stateButtonChange)="setStatusOpenState( $event )" (newWareHouseChange)="editWarehouse($event)"></app-warehouse-data-table>
    <br>
    <br>
</div>

