<div class="container-fluid">
    <app-title [title]="tittle" [icon]="icon"></app-title>
    <form novalidate [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="panelOpenState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Salida
                        </mat-panel-title>
                        <mat-panel-description>
                            Llene los campos para salida
                            <i class="fa fa-dollar ml-1"></i>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!--body-->
                    <div class="row justify-content-center">
                        <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                                <input type="text" matInput formControlName="series">
                                <mat-label>Serie</mat-label>
                                <mat-error>{{getAttrMessage('series')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                                <input type="text" matInput formControlName="folio">
                                <mat-label>Folio</mat-label>
                                <mat-error>{{getAttrMessage('folio')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                                <input type="text" matInput formControlName="date">
                                <mat-label>Fecha</mat-label>
                                <mat-error>{{getAttrMessage('date')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Bodega</mat-label>
                                <mat-select formControlName="warehouse" (selectionChange)="onChangeItem()">
                                    <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                                        {{warehouse.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>{{getAttrMessage('warehouse')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="w-100" appearance="outline">
                                <input type="text" matInput formControlName="staff">
                                <mat-label>Nombre de Encargado</mat-label>
                                <mat-error>{{getAttrMessage('staff')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-card class="mb-3">
                        <mat-card-title>
                            Detalle de salidas
                        </mat-card-title>
                        <mat-card-content formArrayName="departureDetails">
                            <div *ngFor="let departure of form.controls.departureDetails['controls']; let i = index">
                                <div class="row justify-content-center" [formGroupName]="i.toString()">
                                    <div class="col">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Articulo</mat-label>
                                            <mat-select formControlName="item">
                                                <mat-option *ngFor="let item of itemsSelect" [value]="item">
                                                    {{item.code}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="w-100" appearance="outline">
                                            <input type="number" matInput formControlName="quantity">
                                            <mat-label>Cantidad</mat-label>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <button (click)="deleteEntryDetail(i)" type="button" mat-mini-fab color="warn" title="Eliminar"><i
                                                class="fa fa-times-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-button class="bg-light" type="button" (click)="addEntryDetail()">Agregar Salida</button>
                        </mat-card-actions>
                    </mat-card>

                    <div class="row justify-content-center">
                        <div class="col">
                            <button mat-button class="bg-secondary text-white btn-block" type="button"
                                    (click)="form.reset()">
                                Limpiar Formulario
                            </button>
                        </div>
                        <div class="col">
                            <button mat-button type="submit" [disabled]="!form.valid"
                                    class="bg-primary text-white btn-block">
                                Guardar
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
    <app-departure-data-table [(stateButton)]="panelOpenState"></app-departure-data-table>
    <br>
    <br>
</div>

